body {
    font-family: 'Franklin Gothic Bold', Arial, sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

main {
    margin: 20px;
}

a {
    color: #00f;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.project {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.project-content {
    border: 1px solid #fff;
    padding: 10px;
}